form {
    width: 700px;
    margin: 64px auto;
    background: #FFF;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    overflow: hidden;
    padding: 80px;
}

fieldset {
    border: 0;
}

fieldset + fieldset {
    margin-top: 8rem;
}

fieldset legend {
    width: 100%;
    font-size: 3.2rem;
    line-height: 1.5;
    font-weight: 700;
    border-bottom: 1px solid #D3E2E5;
    margin-bottom: 4rem;
    padding-bottom: 2.4rem;
}

.input-block + .input-block {
    margin-top: 2.4rem;
}

.input-block label {
    color: #8FA7B3;
    margin-bottom: .8rem;
    line-height: 1.5;
}

.input-block label span {
    font-size: 1.4rem;
    color: #8FA7B3;
    margin-left: 2.4rem;
    line-height: 1.5;
}

.input-block input, .input-block textarea {
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 2rem;
    color: #5C8599;
    outline: none;
}

.input-block input {
    height: 6.4rem;
    padding: 0 1.6rem;
}

.input-block textarea {
    height: clamp(12rem, 16rem, 24rem);
    resize: vertical;
    padding: 1.6rem;
    line-height: 2.8rem;
}

.input-block.images button {
    border: 1px dashed #96D2F0;
    width: 100%;
    height: 6.4rem;
    background: #F5F8FA;
    padding: 0 1.6rem;
    margin-top: 2.4rem;
    border-radius: 2rem;
    cursor: pointer;
    outline: none;
}